/* For content Code */

.main-content{
    /* position:relative; */
    /* height:100%;
    
    left:250px; */
    position: relative;
height: 100%;
margin-left: 250px;


}

.sec-nav{  
    height:60px;
    display: flex;
}

.breadcrumbs{
    padding-top: 15px;
    top:10px;
}

/* This is css for table */

table {
    position: relative;
    left:200px;
    width: 100%;
    max-width: 800px; /* Set a maximum width if needed */ /* Center the table */
    border-collapse: collapse;
    text-align: center;
    font-family: verdana;
   
    line-height: 25px;
    display: block;

}
thead {
    background-color: #EFEFEF;
}
tbody {
    
    height: 240px;
}
td, th {
    font-size: 20px;
    padding: 20px 20px;
    min-width: 100px;
    height: 25px;
    border-bottom: dashed 1px lightblue;
}
